.nav-link{
  font-size: 20px;
  font-weight: 500;
  color: rgba(0,0,0,.5);
}

.nav-link.active, .nav-link:hover {
  color: #f97561 !important;
}
.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}
