<div class="mt-5">
  <h3>Danh sách đơn hàng</h3>
  <div class="d-flex align-items-center flex-wrap">
    <div class="input-group form-search-md">
      <input type="text" class="form-control" [(ngModel)]="search.name" (keyup.enter)="getOrders()" placeholder="Tìm kiếm theo tên khách hàng" aria-label="Tìm kiếm theo tên khách hàng" aria-describedby="button-search">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-search" (click)="getOrders()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <ng-select [(ngModel)]="search.status" [searchable]="false" [clearable]="false" class="ml-auto" (change)="getOrders()">
      <ng-option value="">Tất cả trạng thái</ng-option>
      <ng-option *ngFor="let status of statusOrder" [value]="status.id">{{status.name}}</ng-option>
    </ng-select>
  </div>
  <div class="table-responsive">
    <table class="table table-borderless table-striped table-hover">
      <thead>
        <th scope="col">#</th>
        <th scope="col">
          <div class="pointer">
            Khách hàng
          </div>
        </th>
        <th scope="col">
          <div class="pointer" (click)="sortByDate()">
            Ngày tạo
            <i class="fas fa-sort" *ngIf="sortDate === 0"></i>
            <i class="fas fa-sort-up" *ngIf="sortDate === 1"></i>
            <i class="fas fa-sort-down" *ngIf="sortDate === 2"></i>
          </div>
        </th>
        <th>Trạng thái</th>
        <th>Tỉnh / Thành phố</th>
        <th>Số điện thoại</th>
        <th>Giá trị</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container *ngIf="listOrder?.length; else nodata">
          <tr *ngFor="let item of listOrder | paginate: { id: 'custom_page', itemsPerPage: search.page_size, currentPage: search.page, totalItems: totalItems }; let index = index;">
            <td (click)="openOrder(item)">{{index + 1}}</td>
            <td (click)="openOrder(item)">{{item.name}}</td>
            <td (click)="openOrder(item)">{{item.create_date | date : "dd/MM/yyyy"}}</td>
            <td (click)="openOrder(item)">
              <ng-container *ngIf="item.status === 'created'; else shippedTemplate">
              <span class="badge badge-primary text-uppercase">Mới tạo</span>
              </ng-container>
              <ng-template #shippedTemplate>
                <span class="badge badge-success text-uppercase">Đã vận chuyển</span>
              </ng-template>
            </td>
            <td (click)="openOrder(item)">{{item.city}}</td>
            <td (click)="openOrder(item)">{{item.phone}}</td>
            <td (click)="openOrder(item)">{{item.totalPrice | number : "4.0-2"}} VNĐ</td>
            <td class="text-right">
              <button class="btn btn-sm bg-white shadow-sm mx-1" (click)="finishOrder(item)" *ngIf="item.status === 'created'">
                <i class="fas fa-truck text-primary"></i>
              </button>
              <button class="btn btn-sm bg-white shadow-sm mx-1" (click)="removeOrder(item)">
                <i class="fas fa-trash-alt text-danger"></i>
              </button>
          </td>
          </tr>
        </ng-container>
        <ng-template #nodata>
          <tr>
            <td class="bg-white px-0" colspan="7">
              <app-no-data></app-no-data>
            </td>
          </tr>
        </ng-template>


      </tbody>
    </table>
  </div>
  <app-pagination [totalItems]="totalItems" [currentRow]="search.page_size" (pageChange)="changePage($event)" ></app-pagination>
</div>
