<div class="container px-5">
  <div class="narrow-container">
    <h1 class="text-center my-5">Quên mật khẩu</h1>
    <form #form="ngForm">
      <div class="form-group">
        <label class="font-weight-bold">Email: </label>
        <input type="text" name="email" [(ngModel)]="forgotForm.email" class="form-control form-control-lg input-contact" required placeholder="Nhập email của bạn">
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-lg btn-info btn-block" (click)="createRequest(form)" type="button" [disabled]="submitted">Gửi</button>
      </div>
      <div class="text-center mt-3">
        <a routerLink="/login" class="mt-4">Quay lại</a>
      </div>
    </form>
  </div>
</div>
