<div class="container mt-5">
  <h2>{{productId ? product.title : 'Tạo mới'}}</h2>
  <form #form="ngForm">
    <div class="row form-group">
      <div class="col-6">
        <label class="font-weight-bold">Tên sản phẩm: </label>
        <input type="text" name="title" [(ngModel)]="product.title" class="form-control input-contact" required>
      </div>
      <div class="col-6">
        <label class="font-weight-bold">Giá: </label>
        <input type="number" name="phone" [(ngModel)]="product.price" class="form-control input-contact" step="1000" required>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-6">
        <label class="font-weight-bold">Ảnh: </label>
        <input type="text" name="image" [(ngModel)]="product.image" class="form-control input-contact" required>
      </div>
      <div class="{{product.type_id === FOOD_ID ? 'col-3' : 'col-6'}}">
        <label class="font-weight-bold">Phân loại: </label>
        <ng-select [items]="typeProduct" [(ngModel)]="product.type_id" [clearable]="false" [searchable]="false" bindValue="_id" (ngModelChange)="selectType($event)" [placeholder]="'Chọn loại'" name="type" bindLabel="type_name" required></ng-select>
      </div>
      <div class="col-3" *ngIf="product.type_id === FOOD_ID">
        <label class="font-weight-bold">Trọng lượng: </label>
        <input type="text" name="weight" [(ngModel)]="product.weight" class="form-control input-contact">
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Mô tả sản phẩm: </label>
      <editor [(ngModel)]="product.details" [apiKey]="apiKey" name="details" [init]="config"></editor>
    </div>
    <button class="btn btn-lg btn-block btn-success" type="button" (click)="submit(form)">{{productId ? 'Cập nhật' : 'Tạo mới'}}</button>
  </form>

</div>
